/* styles.css */

 :root {
	font-family: arial, helvetica, sans-serif;
	background-color: blanchedalmond;
	color: brown;
}

h1 {
	font-family:Georgia, 'Times New Roman', Times, serif
	font-size: 3em;
	text-align: center;
}

p {
	text-align: center;
}

.red {
	color: red; 
}

a {
	color: green;
	font-weight: bold;
	text-decoration: none;
	border-bottom: green 2px dashed;

}

h2 {
	display: flex;
	justify-content: center;
}

.icon {
	width: 200px;
	margin-left: 20px;
}



.no-border {
	border: none;

}

a:hover {
	color: red;
	border-bottom: red 2px dotted;
}