/* styles.css */

 :root {
	font-family: arial, helvetica, sans-serif;
	background-color: blanchedalmond;
	color: red;
}

h1 {
	font-size: 2em;
	text-align: center;
}

p {
	font-size: 16pt;
	text-align: center;
}

.red {
	color: red; 
}

a {
	color: red;
	font-weight: bold;
	text-decoration: none;
	border-bottom: red 2px dotted;

}

h2 {
	display: flex;
	justify-content: center;
}

.icon {
	width: 200px;
}



.no-border {
	border: none;

}

a:hover {
	color: red;
	border-bottom: red 2px dotted;
}